body {
	margin: 0;
	padding: 0;
	background : #F9F2EA;
	align-items: center;
}

.login {
	position: absolute;
	width: 500px;
	margin-top: 30px;
	margin-left: 460px;

	border: solid #9F2E32;
	border-radius: 150px 150px 5px 5px;

}

.login .input-group {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.login .input-group input {
	height: 30px;
	width: 300px;
	margin-left: 105px;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 10px;
}

.login .input-group span {
	position: absolute;
	top: 8px;
	left: 115px;
	text-transform: capitalize;
	transition: 0.5s;
	font-size: 12px;
}


.login .input-group input[type="submit"]{
	background-color: #9F2E32;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}


.login p {
	text-align: center;
	font-size: 10pt;
	color: #9F2E32;
}
